*.a
*.d
*.o

*.exe
*.dll
*.dylib
*.so
*.zip

.DS_Store

bin-w32/{{ cookiecutter.plugin_name | lower }}-vst.*
bin-w32/{{ cookiecutter.plugin_name | lower }}.clap
bin-w32/{{ cookiecutter.plugin_name | lower }}.exe
bin-w32/{{ cookiecutter.plugin_name | lower }}.lv2
bin-w32/{{ cookiecutter.plugin_name | lower }}.vst3
bin-w64/{{ cookiecutter.plugin_name | lower }}-vst.*
bin-w64/{{ cookiecutter.plugin_name | lower }}.clap
bin-w64/{{ cookiecutter.plugin_name | lower }}.exe
bin-w64/{{ cookiecutter.plugin_name | lower }}.lv2
bin-w64/{{ cookiecutter.plugin_name | lower }}.vst3
bin/{{ cookiecutter.plugin_name | lower }}
bin/{{ cookiecutter.plugin_name | lower }}-dssi.*
bin/{{ cookiecutter.plugin_name | lower }}-ladspa.*
bin/{{ cookiecutter.plugin_name | lower }}-vst.*
bin/{{ cookiecutter.plugin_name | lower }}.clap
bin/{{ cookiecutter.plugin_name | lower }}.lv2/
bin/{{ cookiecutter.plugin_name | lower }}.vst3
build/
dist/
